<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @event.name %>
</p>

<p>
<strong>Locations:</strong>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Tag</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <% @event.locations.each do |location| %>
    <tr>
      <td><%= location.name %></td>
      <td><%= location.tag %></td>
    </tr>
  <% end %>
</table>
</p>

<%= link_to 'Edit', edit_event_path(@event) %> |
<%= link_to 'Back', events_path %>
